@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root{
    --light-blue: #1fa6f3;
    --medium-blue:#0055f0;
    --dark-blue: #0b2d6c;
    --white: #ffffff;
}

.content{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}